* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
}

figure:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
    box-shadow: 0px 0px 10px lightblue;
}

figcaption {
    text-align:center;
    background-color:black;
    color: #fff;
}