* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-color:#585459;
  box-shadow: 0px 10px 20px rgb(7, 7, 7);
  z-index: 9999;
}

.navlist {
  display: flex;
  list-style-type: none;
}

.navlist a {
    font-size: 1.5em;
    padding: .5em;
    text-decoration: none;
    color: white;
}

.navlist a:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease-out;
    color: #9ABBD9;
    text-shadow: 0px 10px 5px black;
    /*background-color: lightgray;*/
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#96B6DF;
  color: white;
  font-size: 30px;
}

#me {
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
}

#projectbreak {
    background-color: #8C2742;
    height: 20px;
    border: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-grid a:hover {
    transform: translateY(-4px);
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
    color: #9ABBD9;
    
}

.project-tile {
    text-decoration: none;
    
}



figure {
  margin: 1rem;
}

figcaption{
    text-align: center;
    background-color: #4B585E;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -8px;
    
}

figcaption:hover {
    color:#96B3D9;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*padding: 20px;*/
    height: 100px;
    /*background-color: #556773;*/
}

.contact-details a {
    margin: 0 12px;
    color: #556773;
}

.contact-details :hover
{
    color: #A65A49;
}


.contact-me{
    text-align: center;
}


#footerbreak {
    background-color: #8C2742;
    height: 20px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

@media (max-width: 1200px)
{
    html {
        font-size: 100%;
    }
}

@media (max-width: 980px)
{
    html {
        font-size: 75%;
    }
}

@media (max-width: 500px) 
{
    #welcome-section
    {background-color: #400C1A;}
    html {
        font: 50%;
        background-color: #96B3D9;
    }
}