*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.buttons {
    background-color: #999;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    border-radius: 10px;
    margin: 20px;
    font-size: 120%;
    text-align:center;
    padding: .5%;
}

.buttons:hover {
    color: navy;
}


header {
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: White;
    padding: 20px;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
}

a {
    color: white;
    text-decoration: none;
}
.scene {
    width: 185px;
    height: 260px;
    margin: 3px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    
    
}

.card_face-front {
    background: #333;
    background-image: url(/images/pokemon-card-back-png-1-Transparent-Images.png);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    
}

.card_face-back {
    background: #333;
    background-image: url(/images/pokecard_basic.png);
    transform: rotateY(180deg);
    color: white;
    font-size: 220%;
    padding-top: 130px;
    display: flex;
    justify-content:end;
    flex-direction: column;
    
}



.fire {
    background-color: red;
    background-image: url(/images/pokecard_fire.png);
}

.grass {
    background-color: green;
    background-image: url(/images/pokecard_green.png);
}

.bug {
    background-color: lightgreen;
    background-image: url(/images/pokecard_green.png);
}

.poison {
    background-color: purple;
    background-image: url(/images/pokecard_poison.png);
}

.water {
    background-color: blue;
    background-image: url(/images/pokecard_water.png);
}

.ground {
    background-color: yellow;
    background-image: url(/images/pokecard_rock.png);
}

.electric {
    background-color: yellow;
    background-image: url(/images/pokecard_lightning.png);
}

.fairy {
    background-color: pink;
    background-image: url(/images/pokecard_fairy.png);
}

.normal {
    background-color: rgb(95, 47, 3);
}

.dragon {
    background-color:#333;
    background-image: url(/images/pokecard_dragon.png);
}

