*{
    margin: 0;
    box-sizing: border-box;
}

header {
    
    padding: 50px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    background-image:url(/images/swbattle.jpg);
}

figure > img {
    height: 200px;
    border-radius: 1rem;
    margin: 8px;
    box-shadow: 0px 0px 10px lightblue;
    border:1px solid blue;

}

figure > img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

figcaption {
    text-align: center;
}