* {
    margin: 0;
    box-sizing: border-box;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.figureDiv {
    margin: .5em;
    padding: 5px;
    border: 1px solid red;
    box-shadow: 3px 3px 3px black;
}

figure {
    display: flex;
    flex-direction: column;
    width: 100px;
}

figcaption {
    text-align: center;
}