
* {
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 100%;
    text-align: center;
    padding: 10%;
    background-image:url(/images/whitehouse.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    justify-content: space-evenly;
}
.buttons {
    padding: 3%;
    margin: 1px;
    opacity: .7;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.figureDiv {
    margin: 6px;
    padding: 3px;
    box-shadow: 3px 3px 8px black;
    border-radius: 10%;
}

figure {
    width: 100px;
}

img {
    border-radius: 10px;
}


figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-mitten {
    color: green;
}