
* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 50px;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.figureDiv {
    margin: 6px;
    padding: 3px;
    box-shadow: 3px 3px 8px black;
    border-radius: 10%;
}

figure {
    width: 100px;
}

img {
    border-radius: 10px;
}


figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-mitten {
    color: green;
}